img{
    width: 14em;
    height: 14em;
    filter: blur(15px) grayscale(7) sepia(2);
    transition: all 1s ease-in-out;
}
img:hover{
    filter: blur(0) grayscale(0) brightness(1) saturate(2) opacity(2);
    transition: all 2s ease-in-out;
}